/*pengaturan umum yang dapat dipakai*/
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
h1,h2,h3,h4,h5,
.text-hero {
  font-family: 'Roboto', arial, helvetica, sans-serif;
  margin-top: 0;
  font-weight: 300;
  color: #565656;
  line-height: 1.3em;
}
h1.bolded,
h2.bolded,
h3.bolded,
h4.bolded,
h5.bolded,
.text-hero.bolded {
  font-weight: 400;
}
h1 b,
h2 b,
h3 b,
h4 b,
h5 b,
.text-hero b {
  font-weight: 300;
  line-height: 1em;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
.text-hero small {
  font-size: 50%;
  font-weight: inherit;
}
h1 {
  font-size: 51.98102000000001px;
}
h2 {
  font-size: 39.985400000000006px;
}
h3 {
  font-size: 30.758000000000003px;
}
h4 {
  font-size: 23.66px;
}
h5 {
  font-size: 18.2px;
  font-weight: 300;
}
.text-default {
  color: #737373;
}
.text-color {
  color: #68d8d8 !important;
}
.text-darken {
  color: #565656;
}
a.text-darken {
  color: #565656;
}
a.text-darken:hover {
  color: #3f3f3f;
}
.text-smaller {
  font-size: 75%;
}
.text-small {
  font-size: 12px;
  line-height: 1.5em;
}
.text-small p {
  margin-bottom: 4px;
  font-size: 11px;
  line-height: 1.4em;
}
.text-small h5 {
  font-size: 14px;
  line-height: 1em;
  margin-bottom: 4px;
}
.text-tiny {
  font-size: 10px;
}
.text-bigger {
  font-size: 125%;
  line-height: 1.5em;
}
.text-darken {
  color: #626262;
}
.text-gray {
  color: #808080;
}
/*pengaturan untuk button*/
.btn {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.btn:hover {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.btn > .fa,
.btn > .im {
  margin: 0 5px;
}
.btn-primary {
  background: #68d8d8;
  border-color: #66D7D7;
}
.btn-primary:hover {
  background: #68d8d8;
  border-color: #66D7D7;
}
/*jarak antar tombol*/
.mb10 {
  margin-bottom: 10px !important;
}
/*posisi label 1,2,3,3+*/
label {
  font-weight: 400;
  display: block;
}
/*mengatur posisi icon textbox*/
.form-group {
  position: relative;
}
/*jarak atas untuk bagian 1,2,3,3+*/
.form-group.form-group-lg {
  margin-bottom: 25px;
}
/*mengatur ukuran icon yg ada didalam textbox*/
.form-group.form-group-lg .input-icon {
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 22px;
}
/*untuk mengedit agar tidak tabrakan dengan icon*/
.form-group.form-group-lg.form-group-icon-left .form-control {
  padding-left: 45px;
}
/*untuk mengedit margin antara textbox*/
.form-group.form-group-lg label {
  font-size: 16px;
  margin-bottom: 7px;
}
/*untuk mengedit tulisan yg ada didalam textbox*/
.form-group.form-group-lg .form-control {
  height: 45px;
  padding: 10px 18px;
  font-size: 13px;
}
/*untuk mengedit icon disebelah textbox*/
.form-group .input-icon {
  position: absolute;
  width: 32px;
  height: 32px;
  line-height: 32px;
  display: block;
  top: 29px;
  left: 1px;
  text-align: center;
  color: #b3b3b3;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  z-index: 2;
}
/*pengaturan untuk 1,2,3,3+ agar dapat menjadi lingkaran*/
.btn-group-select-num >.btn {
  -webkit-border-radius: 50% !important;
  border-radius: 50% !important;
  height: 28px;
  line-height: 26px;
  width: 28px;
  padding: 0;
  background: none;
  color: #737373;
  border: 1px solid transparent;
}
.btn-group-select-num >.btn:hover {
  color: #737373;
  border-color: #737373;
  background: none;
}
.btn-group-select-num >.btn.active,
.btn-group-select-num >.btn.active:hover {
  background: #68d8d8;
  border-color: #66D7D7;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
}
/*pengaturan search*/
.search-tabs > .tabbable >.tab-content > .tab-pane {
  padding: 15px;
}
.search-tabs > .tabbable > .nav-tabs > li > a {
  text-transform: uppercase;
}
.search-tabs-bg > h1 {
  color: #fff;
  margin-bottom: 25px;
}
.search-tabs-bg > .tabbable >.tab-content > .tab-pane {
  background: #fff;
  padding: 25px;
  -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.15);
  box-shadow: 0 2px 1px rgba(0,0,0,0.15);
}
.search-tabs-bg > .tabbable >.tab-content > .tab-pane .form-control {
  background: rgba(255,255,255,0.5);
}
.search-tabs-bg > .tabbable > .nav-tabs {
  border: none;
}
.search-tabs-bg > .tabbable > .nav-tabs > li {
  margin-bottom: 0;
  margin-right: 5px;
}
.search-tabs-bg > .tabbable > .nav-tabs > li > a {
  background: rgba(0,0,0,0.4);
  border: none !important;
  color: #fff;
}
@media (max-width:992px) {
  .search-tabs-bg > .tabbable > .nav-tabs > li > a > span {
    display: none;
  }
}
.search-tabs-bg > .tabbable > .nav-tabs > li > a:hover > .fa {
  background: #ed8323;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.search-tabs-bg > .tabbable > .nav-tabs > li > a > .fa {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 2px;
  background: rgba(0,0,0,0.3);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
}
.search-tabs-bg > .tabbable > .nav-tabs > li.active > a {
  background: #ed8323;
  color: #fff;
  padding-top: 15px;
  margin-top: -5px;
}
.search-tabs-bg > .tabbable > .nav-tabs > li.active > a:hover > .fa {
  background: rgba(0,0,0,0.3);
}
/*pengaturan tab pada searchbox*/
.nav-tabs > li > a {
  -webkit-border-radius: 0;
  border-radius: 0;
}
/*pengaturan tab untuk one way atau two way*/
.nav-pills > li.active > a {
  background: #66D7D7;
  cursor: default;
}
.nav-pills > li.active > a:hover {
  background: #66D7D7;
}
.nav-sm > li > a {
  padding: 5px 10px;
  font-size: 13px;
}
.nav-sm > li {
  background-color: lightgrey;
}
.nav-no-br > li > a {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.nav-pills .pill-1 .nav-link:not(.active) {
    background-color: lightgrey;
}
/* active (faded) */
.nav-pills .pill-1 .nav-link {
    background-color: #66D7D7;
    color: white;
}
.tt-hint {
  color: #999;
}
.searching{
  padding-top: 15px;
  background-color: #e2f7ff;
  padding-bottom: 15px;
}
body{
  background-color: #e2f7ff;
}